<a href="https://colab.research.google.com/github/KOWSALYAAARU/test_app/blob/main/Tatamoter_stock_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()
import warnings
warnings.filterwarnings('ignore')
from datetime import datetime
from pandas import Series
from numpy import log

#!pip install plotly
import plotly.express as px # high level interface
import plotly.graph_objects as go # lower level interface

In [6]:
#creating pandas df
df=pd.read_csv('TATAMOTORS.csv')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-01-02,491.973083,511.909271,491.973083,506.368683,503.038696,4193093.0
1,2015-01-05,504.686737,520.417969,501.322815,518.241333,514.833252,6758676.0
2,2015-01-06,508.891632,508.891632,493.951874,496.079071,492.816772,7979598.0
3,2015-01-07,489.746979,495.089661,484.008514,488.609192,485.395966,9232656.0
4,2015-01-08,498.651459,509.336853,495.683289,506.566559,503.235260,5535587.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2385 entries, 0 to 2384
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2385 non-null   object
 1   Open       2384 non-null   float64
 2   High       2384 non-null   float64
 3   Low        2384 non-null   float64
 4   Close      2384 non-null   float64
 5   Adj Close  2384 non-null   float64
 6   Volume     2384 non-null   float64
dtypes: float64(6), object(1)
memory usage: 130.6+ KB

In [8]:
df.shape

(2385, 7)

In [9]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2380    False
2381    False
2382    False
2383    False
2384    False
Length: 2385, dtype: bool

In [12]:
df['Open'].value_counts()

Open
400.000000     7
424.000000     7
436.000000     6
460.000000     6
423.000000     6
              ..
276.399994     1
274.600006     1
262.000000     1
263.500000     1
1105.000000    1
Name: count, Length: 1904, dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2385 entries, 0 to 2384
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2385 non-null   object
 1   Open       2384 non-null   float64
 2   High       2384 non-null   float64
 3   Low        2384 non-null   float64
 4   Close      2384 non-null   float64
 5   Adj Close  2384 non-null   float64
 6   Volume     2384 non-null   float64
dtypes: float64(6), object(1)
memory usage: 130.6+ KB

In [14]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [15]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-01-02,491.973083,511.909271,491.973083,506.368683,503.038696,4193093.0
1,2015-01-05,504.686737,520.417969,501.322815,518.241333,514.833252,6758676.0
2,2015-01-06,508.891632,508.891632,493.951874,496.079071,492.816772,7979598.0
3,2015-01-07,489.746979,495.089661,484.008514,488.609192,485.395966,9232656.0
4,2015-01-08,498.651459,509.336853,495.683289,506.566559,503.235260,5535587.0

In [16]:
df= df[['Date','Open','High','Low','Close','Adj Close','Volume']]
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-01-02,491.973083,511.909271,491.973083,506.368683,503.038696,4193093.0
1,2015-01-05,504.686737,520.417969,501.322815,518.241333,514.833252,6758676.0
2,2015-01-06,508.891632,508.891632,493.951874,496.079071,492.816772,7979598.0
3,2015-01-07,489.746979,495.089661,484.008514,488.609192,485.395966,9232656.0
4,2015-01-08,498.651459,509.336853,495.683289,506.566559,503.235260,5535587.0

In [17]:
df.duplicated().sum()

0